<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Events</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>
  <h1>Welcome!</h1>
  <br/>
    To view all the events, click <a href="/events">here</a>.
  <br/>
    To add an event, click <a href="/events_add">here</a>.
  <br/>
    To edit an event, click <a href="/events_edit">here</a>.
  </body>
</html>